// element 样式补丁
.el-card {
  &.is-always-shadow {
    box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
  }
  &.is-hover-shadow {
    &:hover {
      box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
    }
  }
}

.el-menu--horizontal {
  border-bottom: none !important;
}

.el-tabs__item:focus.is-active.is-focus:not(:active) {
  box-shadow: none !important;
}

.el-drawer__body {
  padding: 20px;
}



// 更窄的按钮
.d2-button {
  &.el-button--mini {
    &.is-thin {
      +.is-thin {
        margin-left: 4px;
      }
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}
// 在 d2-bar 上默认使用更窄的按钮
.d2-bar {
  .d2-button {
    &.el-button--mini {
      +.el-button--mini {
        margin-left: 4px;
      }
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}



.el-divider {
  &.el-divider--mini {
    margin: 12px 0;
  }
}



.is-spacious {
  .el-table::before {
    background-color: #FFF;
  }
  .el-table__fixed-right::before, .el-table__fixed-left::before, .el-table__fixed::before {
    height: 0px;
  }
  .el-table--border {
    border: none;
    th {
      &:last-child {
        border-right: none;
      }
    }
    td {
      &:last-child {
        border-right: none;
      }
    }
    &::after {
      top: 0;
      right: 0;
      width: 0px;
      height: 100%;
    }
  }
}

.el-dialog {
  &.el-dialog__no-top-border {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
